<p style="color: green"><%= notice %></p>

  <%= @restaurant.name %>
  <%= @restaurant.address %>
  <%= @restaurant.category %>
  <%= @restaurant.phone_number%>

<%= link_to "Back to Restaurants", restaurants_path  %>
